<html>

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            background-color: #ffffff;
            border-color: #008f95;
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body>
    <div>
        <div>
            <!-- Top Navigation Bar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="padding-left:130px;">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li class="active"><a href="/contacct">Contact Me<span class="sr-only">(current)</span></a></li>
                    </ul>
                </div>
            </nav>
        </div> <br/>
        <div class="jumbotron">
            <p>
            </p>
        </div>
    </div>
</body>

</html>